#idTab{
	background-color: #0C3934;
	color: #ffffff;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	height: 8%;
	margin: -1% -1% 0% -1%;
}
#idMain{
	background-color: #F8EBEE;
	color: #0C3934; 
	margin: 0% -1% 0% -0.5%;
}
#idContent{
	display: flex;
	flex-direction: column;
}
#content-1{
	display:none;	
}
#content-2{
	font-size: 40px;
}
.tab{
	background-color:#F8EBEE;
	color: #0C3934;
	font-size: 25px;
	height: 100%;
	width: 7.5%;
	border: none;
}
.icon{
	height: 45px;
	width: 45px;
}
.linkContent{
	display: flex;
	place-items: self-end;
}
.columnItems{
	display: flex;
	flex-direction:column;
}
.rowItems{
	display: flex;
	flex-direction:row;
}
.linkColor{
	color: #0C3934;
}